#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.app-content {
  position: relative;
  z-index: 10; /* MUY IMPORTANTE */
  padding: 40px;
  color: white;
}
